.bg-dark {
  background-color: rgba(54, 55, 64, 1) !important;
}

.d-flex{
  flex-shrink: 1 !important;
  width: auto;
}
.text-white {
  color: #ffffff;
}



.nav-item {
  width: 100%; /* Ensure the nav item fills the container width */
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px; /* Add padding to align content */
}

.nav-item svg {
  margin-right: 10px;
}

.nav-item span {
  display: flex;
  align-items: center;
}

.nav-item:hover {
  background-color: #495057;
  cursor: pointer;
  border-left: 3px solid rgba(221, 226, 255, 1); /* Add left border on hover */
}

.nav-item:hover svg {
  fill: #DDE2FF; /* Change SVG color on hover */
}

#active {
  border-left: 3px solid #DDE2FF;
  background-color: rgba(159, 162, 180, 0.08);
  height: 56px;
}

/* divider line */
#solid {
  width: 100%; /* Adjusted to 100% for better responsiveness */
  padding: 5%;
}

#mynavbar {
  flex-grow: 0 !important;
}

.navbar-brand {
  margin-left: 10px; /* Add margin to the left of the navbar brand */
  
}

.container-fluid {
  padding: 0; /* Adjusted to 0 to remove unnecessary padding */
  align-items: center;
  background-color: rgba(247, 248, 252, 1);
  overflow-x: hidden; /* Hide horizontal overflow */
}

.card{
  text-align: center;
  width: 100%;
}

.card:hover{
  cursor: pointer;
  color: rgba(55, 81, 255, 1);
  border-color: rgba(55, 81, 255, 1);
}
#unresolved, #open, #overdue, #hold{
  
  margin-top: 2%; /* Adjust the margin value as needed */
  margin-bottom: 2%; /* Adjust the margin value as needed */  
  
}


.card-header > p{
  margin-right: 75%;

}
#graphtitle{
  color: rgba(37, 39, 51, 1);
  padding-top: 3px;
  margin-right: 75%;
  font-size: 19px;
}
#graphtext{
  color: rgba(159, 162, 180, 1);
  margin-right: 65%;
  font-size: 12px;
}

.text-small{
  color: rgba(159, 162, 180, 1);
  margin-right: 65%;
  font-size: 12px;
  text-decoration: none;
  text-emphasis: none;
}

#create{
  color: rgba(159, 162, 180, 1);

}
.card-graph{
  flex-grow: 1;
}

#graph {
  width: 100%;
}

.row.flex-nowrap {
  width: 100%; /* Ensure it takes the full width */
  height: auto; /* Adjust height as needed */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}